canvas {
    background: rgb(0, 0, 0);
    display: block;
    
}
* {
    margin: 0;
    padding: 0;
}
html, body {height: 100%; overflow: hidden}

@-ms-viewport{
    width: device-width;
}
@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

#gravity {
    top:8.8vh;
}
#friction {
    top:12.8vh;
}
#static {
    top:16.85vh;
}
#trajectory {
    top:21.2vh;
}


.item > img {
    position:absolute;
    width:1.08vw;
    margin-left:0.12vw;
    margin-top:0.22vh;
}

.switch {
    position:absolute;
    left:1.6vw;

    --line: #505162;
    --dot: rgb(116, 179, 206);
    --circle: #9ea0be;
    --duration: 0.3s;
    --text: rgb(206, 212, 218);
    cursor: pointer;
}
.switch:hover{
    transform: scale(1.2);
    transition: transform 0.3s cubic-bezier(0.25,0.1,0.25,1);
}
.switch:not(:hover){
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25,0.1,0.25,1);
}
.switch input {
    display: none;
}
.switch input + div {
    position: relative;
}
.switch input + div:before, .switch input + div:after {
    --s: 1;
    content: '';
    position: absolute;
    height: 4px;
    top: 10px;
    width: 24px;
    background: var(--line);
    transform: scaleX(var(--s));
    transition: transform var(--duration) ease;
}
.switch input + div:before {
    --s: 0;
    left: 0;
    transform-origin: 0 50%;
    border-radius: 2px 0 0 2px;
}
.switch input + div:after {
    left: 28px;
    transform-origin: 100% 50%;
    border-radius: 0 2px 2px 0;
}
.switch input + div span {
    padding-left: 56px;
    line-height: 24px;
    color: var(--text);
    font-size:30px;
    font-family: 'Trebuchet MS', sans-serif;
}
.switch input + div span:before {
    --x: 0;
    --b: var(--circle);
    --s: 4px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--s) var(--b);
    transform: translateX(var(--x));
    transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
    padding-left: 2.7vw;
}
.switch input:checked + div:before {
    --s: 1;
}
.switch input:checked + div:after {
    --s: 0;
}
.switch input:checked + div span:before {
    --x: 28px;
    --s: 12px;
    --b: var(--dot);
}


.control-close {
    right:-500px !important;

}
.control-open {
    right:-25px !important;
} 

#control {
    position:absolute;
    text-align: center;

    top:0px;
    height:30vh;
    right: -500px ;
    width:15vw;
    background: rgb(52, 58, 64);
    border:solid rgb(33, 37, 41);
    border-radius: 25px;

    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}


#control-name {
    color:rgb(173, 181, 189); /*206, 212, 218*/
    
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px rgba(30, 30, 30, 0.2), 
      7px 7px 0px rgba(0, 0, 0, 0.2);

    font-size:70px;
    font-family: 'Trebuchet MS', sans-serif;
    /* font-family: 'Baloo Tamma', cursive; */
}


#panel {
    position:absolute;

    top:-2px;
    top:-0.3vh;

    left:-0.8vw;

    min-width: 60px;
    width:3vw;
    min-height:540px;
    height:50vh;

    background: rgb(52, 58, 64);
    border:solid rgb(33, 37, 41);
    border-radius: 0.977vw;
}

.textPopup{

    border:solid 4px rgb(33, 37, 41);
    background: rgb(52, 58, 64);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    padding-inline:10px;
    width:max-content;
    margin-left:1.7vw;

    /* display:none; */
    opacity:0;

}
.textPopup p {
    color: rgb(173, 181, 189);
    font-size:1vw;
    font-family: 'Trebuchet MS', sans-serif;
}

.item:hover .textPopup{
    animation: slide-in-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.item:not(:hover) .textPopup{
    transform:translateX(-100%);
}


.textPopupSubItem p {
    color: rgb(173, 181, 189);
    font-size:0.8vw;
    font-family: 'Trebuchet MS', sans-serif;
}
.textPopupSubItem{
    border:solid 4px rgb(33, 37, 41);
    background: rgb(52, 58, 64);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    margin-top:-2.4vh;
    padding-inline:10px;
    width:max-content;
    margin-left:1.2vw;

    opacity:0;
}
.item:hover .textPopupSubItem{
    animation: slide-in-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.item:not(:hover) .textPopupSubItem{
    transform:translateX(-100%);
}


.item {
    margin-top:1.14vh;
    margin-left:1.05vw;
    
    
    min-width:27px;
    width:1.38vw;
    height:2.5vh;

    background: rgb(73, 80, 87);
    border:solid rgb(33, 37, 41);
    border-radius: 100%;

    transition: all 0.3s ease;
}

.selected {
    border:solid rgb(173, 181, 189) !important;
}

.item:hover {
    transform:scale(1.2);
}
.item:not(:hover){
    transform:scale(1);
}

.itemConfig {
    position:absolute;
    visibility:hidden;

    top:0;
    left:100%;

    min-width:fit-content;
    min-height: fit-content;
    width:100%;
    height:0%;

    background: rgb(52, 58, 64);
    border:solid rgb(33, 37, 41);
    border-width: 0.15vw;
    border-radius: 0.391vw;
    
    transition-duration: 0.5s;
    transition-property: visibility,height;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0, 1);
}

.item:hover div.itemConfig {
    height:300%;
    visibility:visible
}

.subItemConfig {
    margin-top:0.138vh;
    margin-left:0.078vw;

    height:1.81vh;
    width:1vw;


    background: rgb(73, 80, 87);
    border:solid rgb(33, 37, 41);
    border-radius: 100%;

    float: left;

    opacity:0%;

    transition: border,opacity, 0.5s;
    transition-timing-function: cubic-bezier(0.13, 0.62, 0, 1.0);
}

.item:hover div.itemConfig div.subItemConfig {
    opacity:100%;
}
.item:not(:hover) div.itemConfig div.subItemConfig {
    opacity:0%;
}

.subItemConfig:hover {
    transform:scale(1.2);
}
.item:not(:hover){
    transform:scale(1);
}

.velocite {
    position:absolute;
    top:85%;
    color: rgb(206, 212, 218);
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    line-height: 2;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
}

#VX {
    left:1.5vw;
}


@keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
      /* display:none; */
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      /* display:block; */

    }
}
